@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.ttf");
}

@font-face {
  font-family: 'fa-brands-400';
  src: url("../fonts/fa-brands-400.ttf");
}

@font-face {
  font-family: 'Helvetica-Oblique';
  src: url("../fonts/Helvetica-Oblique.ttf");
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/Helvetica-Neue.ttf");
}

@font-face {
  font-family: 'Intro';
  src: url("../fonts/Intro.otf");
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url("../fonts/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/Raleway-Regular.ttf");
}

body {
  font-family: 'Raleway-Regular';
  color: #333333;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header {
  background: url(../img/header/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.header .header-wrap {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  height: 100%;
  z-index: 1;
  position: relative;
}

.header .header-wrap h1 {
  font-family: 'Intro';
  color: #ffffff;
  font-size: 60px;
}

.header .header-wrap .btn {
  margin-top: 50px;
}

.header .header-wrap .btn button {
  width: 200px;
  height: 50px;
  background: #4b5a65;
  font-family: 'Raleway-ExtraBold';
  color: #ffffff;
  font-size: 20px;
  margin-left: 30px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .header-wrap .btn button:first-of-type {
  margin-left: 0;
}

.header .header-wrap .btn button:hover {
  background: #f0650d;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  padding: 5px;
}

.portfolio .block {
  width: 100%;
  min-height: calc(33.333vh - 10px);
  position: relative;
  display: -ms-grid;
  display: grid;
}

.portfolio .block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.portfolio .block:hover::before {
  background: rgba(0, 0, 0, 0.8);
}

.portfolio .block:hover p {
  color: #f0650d;
}

.portfolio .block a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio .block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .block p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Raleway-Bold';
  color: #ffffff;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.portfolio .block:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.portfolio .block:nth-child(5) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.portfolio .block:nth-child(6) {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.ready {
  background: #ededed;
  position: relative;
}

.ready::before {
  content: '';
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  height: 490px;
  background: rgba(0, 0, 0, 0.08);
}

.ready .ready-wrap {
  padding: 95px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ready .ready-wrap .block h3 {
  font-family: 'Raleway-ExtraBold';
  color: #293a43;
  font-size: 34px;
  line-height: 40px;
}

.ready .ready-wrap .block .content {
  margin-top: 45px;
}

.ready .ready-wrap .block .content p {
  font-family: 'Helvetica-Neue';
  font-size: 18px;
  line-height: 28px;
  margin-top: 20px;
}

.ready .ready-wrap .block .content p:first-of-type {
  margin-top: 0;
}

.ready .ready-wrap .block img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ready .ready-wrap .block-content {
  margin-right: 65px;
}

.ready .ready-wrap .block-img {
  margin-left: 25px;
}

.ready .ready-form {
  background: #293a43;
  padding: 25px 0;
}

.ready .ready-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
  width: 100%;
}

.ready .ready-form form .input {
  width: 300px;
  height: 50px;
  margin-left: 25px;
}

.ready .ready-form form .input:first-of-type {
  margin-left: 0;
}

.ready .ready-form form .input input {
  width: 100%;
  height: 100%;
  background: #314853;
  padding-left: 20px;
  color: #556c77;
  font-family: 'Helvetica-Oblique';
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.ready .ready-form form .input input:focus {
  background: #ffffff;
}

.ready .ready-form form .input input::-webkit-input-placeholder {
  color: #556c77;
}

.ready .ready-form form .input input:-ms-input-placeholder {
  color: #556c77;
}

.ready .ready-form form .input input::-ms-input-placeholder {
  color: #556c77;
}

.ready .ready-form form .input input::placeholder {
  color: #556c77;
}

.ready .ready-form form .btn button {
  text-transform: uppercase;
  width: 190px;
  height: 50px;
  background: #f0650d;
  color: #ffffff;
  font-size: 17px;
  font-family: 'Raleway-ExtraBold';
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.ready .ready-form form .btn button:hover {
  opacity: .6;
}

.blog {
  padding: 80px 0 110px 0;
}

.blog h2 {
  color: #293a43;
  font-family: 'Raleway-ExtraBold';
  font-size: 34px;
}

.blog .blog-wrap {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.blog .blog-wrap .block {
  display: -ms-grid;
  display: grid;
  background: #f7f7f7;
  overflow: hidden;
}

.blog .blog-wrap .block:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.blog .blog-wrap .block:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.blog .blog-wrap .block:hover a img {
  -webkit-transform: scale(1.05) translateY(-6.5px);
          transform: scale(1.05) translateY(-6.5px);
}

.blog .blog-wrap .block a {
  color: #333333;
}

.blog .blog-wrap .block a img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.blog .blog-wrap .block a .content {
  padding: 35px 15px 25px 20px;
  text-align: center;
}

.blog .blog-wrap .block a .content h5 {
  font-family: 'Raleway-Bold';
  color: #666666;
  font-size: 18px;
}

.blog .blog-wrap .block a .content p {
  margin-top: 30px;
  line-height: 26px;
}

.footer {
  background: #1b2429;
  padding: 60px 0;
}

.footer .footer-wrap {
  text-align: center;
}

.footer .footer-wrap h3 {
  font-family: 'Intro';
  color: #4e5355;
  font-size: 22px;
}

.footer .footer-wrap h2 {
  font-family: 'Intro';
  color: #707476;
  font-size: 27px;
  margin-top: 10px;
}

.footer .footer-wrap p {
  margin-top: 25px;
  font-family: 'Raleway-Bold';
  color: #494d50;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .ready .ready-form form {
    -ms-grid-columns: (minmax(300px, 1fr))[1];
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    justify-items: center;
  }
  .ready .ready-form form .input {
    margin-left: 0;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1070px) {
  .ready::before {
    display: none;
  }
  .ready .ready-wrap {
    -ms-grid-columns: (minmax(300px, 1fr))[1];
        grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  .ready .ready-wrap .block-content {
    margin-right: 0;
  }
  .ready .ready-wrap .block-img {
    margin-top: 30px;
    margin-left: 0;
  }
}

@media screen and (max-width: 1040px) {
  .portfolio {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .portfolio .block:nth-child(1) {
    grid-column: auto;
  }
  .portfolio .block:nth-child(5) {
    grid-column: auto;
  }
  .portfolio .block:nth-child(6) {
    grid-column: auto;
    grid-row: auto;
  }
}

@media screen and (max-width: 970px) {
  .blog .blog-wrap {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .blog .blog-wrap .block:nth-child(3) {
    grid-column: auto;
  }
  .blog .blog-wrap .block:nth-child(4) {
    grid-column: auto;
  }
}

@media screen and (max-width: 470px) {
  .header .header-wrap h1 {
    font-size: 40px;
  }
  .header .header-wrap .btn {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 20px;
  }
  .header .header-wrap .btn button {
    margin-left: 0;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */